{{#each products as |product|}}
{{#if product.category_id === 1}}
<div class="pro-container">
            <div class="pro">
                <img src={{product.image}} alt="Birman cat" class="product-img">
                <div class="des">
                    <span class="product-title">{{product.product_name}}</span>
                    <h5>{{product.description}}</h5>
                    <h4 class="price">${{product.price}}</h4>
                </div>
                <button class=".add-to-cart-btn">
                    <a href="#"><i class='bx bx-cart add-cart'></i></a>
                </button>
            </div>
            {{/if}}
{{/each}}