<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cat Bucks - Sign Up</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <a href="#" class="logo">Cat Bucks</a>
      <div class="form-container">
        <h2>Sign Up</h2>
        <form class="signup-form">
          <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              id="username-signup"
              class="form-input"
              required
            />
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email-signup" class="form-input" required />
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              id="password-signup"
              class="form-input"
              required
            />
          </div>
          <div class="form-group">
            <label for="confirm-password" class="form-label">Confirm Password</label>
            <input
              type="password"
              id="confirm-password"
              class="form-input"
              required
            />
          </div>
          <button type="submit" class="button">Sign Up</button>
        </form>
      </div>
    </div>
  </body>
  <script src="./js/signup.js"></script>
</html>