<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cat Bucks - Welcome</title>
    <link rel="stylesheet" href="/css/main.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
</head>
    {{!-- <style>
     

        
        .container {
            text-align: center;
            background-color: #fff;
            padding: 40px;
            border-radius: 25px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
        }
        .logo {
            font-size: 60px;
            font-weight: 700;
            color: #088178;
            font-style: italic;
            text-decoration: none;
            font-family: 'Dancing Script', sans-serif;
            margin-bottom: 20px;
        }
        .welcome-message {
            font-size: 24px;
            color: #606063;
            margin-bottom: 30px;
            font-family: 'Varela Round', sans-serif;
        }
        .button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .button {
            display: inline-block;
            margin: 10px 0;
            padding: 12px 30px;
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            background-color: #088178;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
            text-decoration: none;
            font-family: 'Varela Round', sans-serif;
        }
        .button:hover {
            background-color: #08817980;
        }
        .flip-horizontally {
            transform: scaleX(-1);
        }
    </style> --}}
<body>
    <div>
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/365e45cb-f07a-4c88-a433-10e18063baad/d3iapfh-fc5d77be-fcf5-43a9-b676-83b7553bf246.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM2NWU0NWNiLWYwN2EtNGM4OC1hNDMzLTEwZTE4MDYzYmFhZFwvZDNpYXBmaC1mYzVkNzdiZS1mY2Y1LTQzYTktYjY3Ni04M2I3NTUzYmYyNDYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.W5BuDUfkVnI6oGKN4q4BvSW9okgeEYZgStcaY62pHcs" alt="Neon Cat GIF" class="neon-cat">
    </div>
    <div class="container">
        <a href="#" class="logo">Cat Bucks</a>
        <div class="welcome-message">Welcome to the world of cats and cat-related products!</div>
        <div class="button-container">
            <a href="/login" class="button">Log In</a>
            <a href="/signup" class="button">Sign Up</a>
        </div>
    </div>
    <div class="flip-horizontally">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/365e45cb-f07a-4c88-a433-10e18063baad/d3iapfh-fc5d77be-fcf5-43a9-b676-83b7553bf246.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM2NWU0NWNiLWYwN2EtNGM4OC1hNDMzLTEwZTE4MDYzYmFhZFwvZDNpYXBmaC1mYzVkNzdiZS1mY2Y1LTQzYTktYjY3Ni04M2I3NTUzYmYyNDYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.W5BuDUfkVnI6oGKN4q4BvSW9okgeEYZgStcaY62pHcs" alt="Neon Cat GIF" class="neon-cat">
    </div>
</body>
</html>